* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, .carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
  transform-style: preserve-3d;
}

.box {
  position: relative;
  display: flex;
  transform-style: preserve-3d;
  perspective: 800px;
}

.box .item {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 100px);
  width: 200px;
  height: 300px;
  background: #fff;
  transition: 0.5s;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform-style: preserve-3d;
  transform-origin: bottom;
  user-select: none;
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0002);
}

.box .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Buttons */
.buttons {
  position: absolute;
  bottom: 40px;
  display: flex;
  gap: 40px;
}

.buttons span {
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  border-radius: 50%;
  user-select: none;
  transition: 0.3s;
}

.buttons span:hover {
  background: #fff;
}

