@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "sayeed";
  src: url("./assets/fonts/ERODED_PERSONAL_USE.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "sayeed", sans-serif;
}

@theme{
  --font-bruno-ace : Bruno Ace, "sans-sarif";
  --font-barlow : Barlow, "sans-serif";
  --font-AbrilFatface : "Abril Fatface", serif;
   --font-LuckiestGuy : "Luckiest Guy", cursive;
}

.skew-box{
  transform-origin: bottom;
  transform: skew(-1deg);
}
.info-skew{
  transform-origin: bottom;
  transform: skew(1deg);
}
.button-shadow {
  box-shadow: 0px 0px 30px #bd0000;
  /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  /* clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%); */
  /* clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); */
  /* clip-path: polygon(1% 0, 99% 0, 100% 100%, 0% 100%); */
  /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */
  /* transform-origin: bottom;
  transform: skew(-6deg); */


}

.title-shadow{
  text-shadow: 0px 0px 30px #bd0000;
}



.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}



.shadow-3d {
  font-size: 7rem;
  font-weight: bold;
  /* color: #d9d9d9; text color */
  text-shadow: 
    -1px 1px 0 #d9d9d9,
    -2px 2px 0 #d9d9d9,
    -3px 3px 0 #d9d9d9,
    -4px 4px 0 #d9d9d9,
    -5px 5px 0 #d9d9d9,
    -6px 6px 0 #d9d9d9,
    -7px 7px 0 #d9d9d9,
    -8px 8px 0 #d9d9d9,
    -9px 9px 0 #d9d9d9,
    -10px 10px 0 #d9d9d9,
    -11px 11px 0 #d9d9d9,
    -12px 12px 0 #d9d9d9,
    -13px 13px 0 #d9d9d9,
    -14px 14px 0 #d9d9d9;

    transform: rotate(-28deg) skew(25deg);
}
.shadow-3d:first-child{
  transform: rotate(-28deg) skew(25deg) translateY(100px) translateX(250px);
}

.shadow-3d:last-child{
  transform: rotate(-28deg) skew(25deg) translateY(-100px) translateX(-250px);
}


.under-shadow{
  position: relative;
   /* -webkit-box-reflect: below 0px */
    /* linear-gradient(transparent, rgba(0, 0, 0, 0.3)); */
}
.under-shadow::before{
  content: "SAYEED";
  position: absolute;
  top: 30px;
  left: -30px;
  color: rgba(0,0,0,0.3);
  text-shadow: none;
  filter: blur(8px);
  z-index: -1;
}

.reflect-text{
  -webkit-box-reflect: below 5px linear-gradient(transparent, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.3));
}


.parent-box{
 transform-style: preserve-3d;
}

.image-box {
  transform-origin: top;
  transform: perspective(600px) rotateX(-15deg);
  /* transform: skew(20deg); */
      -webkit-box-reflect: below 0px linear-gradient(transparent,transparent, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
    }




.t-style{
  transform-origin: center;
  
}
.t-style:hover{
  /* background:linear-gradient(to top, black,black,black, black ,#bd0000,#bd0000); */
  transform: perspective(800px) translateZ(5px) scale(1.05);
}


.image-slider-box{
  
}

/* .child{
  width: 50px;
  aspect-ratio: 1;
  background: white;
  position: absolute;
  clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
  background-color:#bd0000;
} */

.child {
  width: 30px;
  aspect-ratio: 1;
  position: absolute;

  /* heart shape */
  /* clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"); */
  background-color: #bd0000;

  /* shadow options */
  box-shadow: 0 6px 12px rgba(0,0,0,0.4);     /* regular shadow */
  filter: drop-shadow(0 6px 6px rgba(0,0,0,0.6)); /* follows the heart shape */
  animation: boxAnim 2s linear infinite;
  border-radius: 50%;
  /* filter: blur(1px); */
}

@keyframes boxAnim {
  0%{
    opacity: 0;
    transform: translate(0, 0);
  } 10%{
    opacity: 1;
  } 100%{
    opacity: 0;
    transform: translate(var(--x), var(--y)) scale(var(--s));
  }
}


/* .heart {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #e60023;
  transform: rotate(-90deg);
  margin: 25px auto;
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: #e60023;
  border-radius: 50%;
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

.heart::before {
  top: -25px;
  left: 0;
}

.heart::after {
  top: 0;
  left: 25px;
} */
