#selected {
  transform: translateX(-15px);
  filter: brightness(1);
  width: 200%;
  position: relative;
}
#selected::before{
    content: '';
    position: absolute;
    height: 100%;
    aspect-ratio: 1;
    background-color: white;
    right: -60%;
    border-radius: 50%;
    transform: scale(1.5);
}

#selected + * {
  transform: translateX(-13px);
  filter: brightness(0.8);
  width: 170%;
}


#selected + *::before{
    content: '';
    position: absolute;
    height: 100%;
    aspect-ratio: 1;
    background-color: white;
    right: -60%;
    border-radius: 50%;
    transform: scale(1.3);
}


#selected + * + * {
  transform: translateX(-10px);
  filter: brightness(0.6);
  width: 150%;
}

#selected + * + *::before{
    content: '';
    position: absolute;
    height: 100%;
    aspect-ratio: 1;
    background-color: white;
    right: -50%;
    border-radius: 50%;
    transform: scale(1.1);
    
}


#selected + * + * + * {
  transform: translateX(-5px);
  filter: brightness(0.4);
  width: 120%;
}

/* #selected + * + * + *::before{
    content: '';
    position: absolute;
    height: 100%;
    aspect-ratio: 1;
    background-color: white;
    right: -50%;
    border-radius: 50%;
} */


div:has(+ #selected){
    transform: translateX(-13px);
    filter: brightness(0.8);
    width: 170%;
}

div:has(+ #selected)::before{
    content: '';
    position: absolute;
    height: 100%;
    aspect-ratio: 1;
    background-color: white;
    right: -60%;
    border-radius: 50%;
    transform: scale(1.3);
}



div:has(+ * + #selected){
    transform: translateX(-10px);
    filter: brightness(0.6);
    width: 150%;
}


div:has( + * + #selected)::before{
    content: '';
    position: absolute;
    height: 100%;
    aspect-ratio: 1;
    background-color: white;
    right: -50%;
    border-radius: 50%;
    transform: scale(1.1);
}

div:has(+ * + * + #selected){
    transform: translateX(-5px);
    filter: brightness(0.4);
    width: 120%;
}

/* div:has( + * + * + #selected)::before{
    content: '';
    position: absolute;
    height: 100%;
    aspect-ratio: 1;
    background-color: white;
    right: -50%;
    border-radius: 50%;
} */




/* Hide scrollbar for Chrome, Safari and Edge */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for IE/Edge (legacy) */
html {
  -ms-overflow-style: none; /* IE and Edge */
}


